:root {
  --background-color: #1e1e1e;
  --input-background: #2e2e2e;
  --text-color: #ffffff;
  --placeholder-color: #cfcfcf;
  --button-dark: #3c3c3c;
  --button-hover: #4b4b4b;
  --border-color: #5a5a5a;
  --accent-bg: #ffffff;
  --accent-text: #000000;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/Images/background-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}